@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*** Parameters ***/

// Colors
$color-primary: #f03e34;
$color-secondary: #13582E;
$color-heading: #000;
$color-text: #000;
$color-text-grey: #6b6b6b;
$bg-grey: #eaeaea;
$bg-g-blue: linear-gradient(to left, #8ef5be 0%, #357ab5 100%);
$bg-g-red: linear-gradient(to left, #ff6d5b 0%, #ffb461 100%);
$bg-g-green: linear-gradient(to left, #a9d86e 0%, #beee81 100%);
$white: #fff;
$black: #000;
$fw: "font-weight";
$ff: "font-family";
$fs: "font-size";
$c: "color";
// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;
// Font Size
$base-font-size: 16;
// Font Family
$Montserrat: 'Montserrat',
sans-serif;