.all-tabel {
    border-radius: 6px;
    background: #fff;
    border: 1px solid #757575;

    table {
        width: 100%;

        thead {
            tr {
                th {
                    text-align: center;
                    padding: 20px;
                    background-color: $color-secondary;
                    color: $white;
                    font-weight: 500;

                    &:not(:last-child) {
                        border-right: 1px solid #757575;
                    }
                }
            }
        }

        tbody {
            tr {
                &:not(:last-child) {
                    border-bottom: 1px solid #757575;
                }

                td {
                    text-align: center;
                    padding: 30px 35px;

                    &:not(:last-child) {
                        border-right: 1px solid #757575;
                    }

                    label {
                        input[type=checkbox] {
                            width: 22px;
                            height: 22px;
                            box-shadow: none;
                        }
                    }

                    i {
                        font-size: 18px;
                        text-shadow: 0 1px currentColor;
                    }

                    ul {
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        justify-content: space-between;

                        li {
                            padding: 10px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i{
                                color: $white;
                                font-size: 15px;
                            }
                        }
                    }

                }
            }
        }
    }
}