@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

html {
    font-size: rem(16px);
}

body {
    font-family: $sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: rem(16px);
    color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 0 rem(20px);
    color: $color-heading;
}


h1 {
    font-size: rem(50px);
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 8px;

    @include breakpoint(x-large) {
        font-size: 40px;
    }

}

h2 {
    font-size: rem(30px);
}

h3 {
    font-size: rem(28px);
}

h4 {
    font-size: rem(25px);
}

h5 {
    font-size: rem(24px);
}

h6 {
    font-size: rem(20px);
}

p {
    font-size: rem(16px);
    font-family: $sans-serif;
    line-height: 1.6;
    margin-bottom: rem(30px);
    color: $color-text;

    strong {
        font-family: $sans-serif;
        font-weight: 700;
    }

    a {
        color: $color-primary;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}