html {
    font-size: rem(16px);
    scroll-behavior: smooth;
}

body {
    font-family: $Montserrat;
    font-weight: 400;
    line-height: 1.6;
    font-size: rem(16px);
    color: $color-text;
}

a,
a:hover {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Montserrat;
    color: $color-heading;
    text-transform: capitalize;
    letter-spacing: 0px;
    line-height: 1.4;
    font-weight: 500;
    display: block;
}

h1 {
    font-size: rem(36px);
    font-weight: 600;
    font-family: $Montserrat;

    @include breakpoint(x-large) {
        font-size: rem(45px);
    }

    @include breakpoint(normal) {
        font-size: rem(40px);
    }

    @include breakpoint(ipad) {
        font-size: rem(35px);
    }

    @include breakpoint(mobile) {
        font-size: rem(30px);
    }
}

h2 {
    font-size: rem(36px);
    font-weight: 500;

    @include breakpoint(x-large) {
        font-size: rem(32px);
    }

    @include breakpoint(normal) {
        font-size: rem(28px);
    }

    @include breakpoint(ipad) {
        font-size: rem(26px);
    }

    @include breakpoint(mobile) {
        font-size: rem(22px);
    }
}

h3 {
    font-size: rem(28px);
}

h4 {
    font-size: rem(26px);
    font-weight: 700;

    @include breakpoint(x-large) {
        font-size: rem(24px);
    }

    @include breakpoint(normal) {
        font-size: rem(20px);
    }

    @include breakpoint(mobile) {
        font-size: rem(18px);
    }

    a {
        color: $color-heading;

        &:hover {
            color: $color-heading;
            text-decoration: underline;
        }
    }
}

h5 {
    font-size: rem(22px);
}

h6 {
    font-size: rem(20px);

    @include breakpoint(x-large) {
        font-size: rem(18px);
    }

    @include breakpoint(ipad) {
        font-size: rem(16px);
    }
}

p {
    font-size: rem(18px);
    font-weight: 400;
    font-family: $Montserrat;
    line-height: 1.65;
    margin-bottom: 0;
    color: $color-text;

    @include breakpoint(x-large) {
        font-size: rem(16px);
    }

    @include breakpoint(ipad) {
        font-size: rem(14px);
    }

    strong {
        font-family: $Montserrat;
        font-weight: 700;
    }

    a {
        color: $color-primary;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}